@charset "utf-8";
/* CSS Document */

.main-body {
    font-family: 'Baloo Bhai', cursive;
    overflow-x: hidden;
}
.main-h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 7rem;
    font-weight: bolder;
    text-shadow: 6px 3px 10px #639EE4;
}
h2, h3 {
    font-family: 'Baloo Bhai', cursive;
    color: #1d4d4f;
    font-style: italic;
    text-align: center;
    font-weight: bolder;
}

h2 {
    font-size: 4.5rem;
}
p {
    font-family: 'Acme', sans-serif;
    color: #357376;
    text-align: center;
}
.neon {
    font-family: 'Acme', sans-serif;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    Letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.1s;
}
.neon:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 40px #2196f3;
    transition-delay: 0.90s;
}
.neon span {
    position: absolute;
    display: block;
}
.neon span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}
.neon:hover span:nth-child(1) {
    left: 100%;
    transition: 0.90s;
}
.neon span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}
.neon:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.neon span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}
.neon:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.neon span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}
.neon:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.row .col-md-12 .footer-list {
    font-weight: bold;
    text-align: center;
    align-content: center;
}
.nav-list-animated {
    margin: 0;
    display: flex;
}
.nav-list-animated li {
    list-style: none;
    margin: 0 20px;
    transition : 0.5s;
}
.nav-list-animated li a {
    display : block;
    position: relative;
    text-decoration: none;
    padding: 5px;
    font-size: 18px;
    font-family: 'Acme', sans-serif;
    color: #1d4d4f;
}
.nav-list-animated:hover li a {
    transform: scale(1.5);
    opacity: 1;
    filter: blur(5px);
}
.nav-list-animated li a:hover {
    transform: scale(2);
    opacity: 2;
    filter: blur(0);
}
.nav-list-animated li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b2cdc5;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
.nav-list-animated li a:hover:before {
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
#top {
    -webkit-transition: all 3s ease-in 0.1s;
    -o-transition: all 3s ease-in 0.1s;
    transition: all 3s ease-in 0.1s;
}
#top:hover {
    background-color: #d6e5fa;
}
#top:focus {
    background-color: #d6e5fa;
}
.gif {
    min-height: 0px;
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
}
.myButton {
    position: relative;
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 17px;
    border: 1px solid #035737;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    text-shadow: 1px 6px 0px #3d768a;
    clear: none;
}
.myButton:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}
.myButton:active {
    position: relative;
    top: 1px;
}
.butn {
    display: flex;
    justify-content: center;
}
.footer-list {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
.footer-list li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
}
.footer-list li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;
}
.footer-list li:hover span {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, -1);
}
.footer-list li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}
.footer-list li:hover span:nth-child(4) {
    transform: translate(30px, 30px);
    opacity: .8;
}
.footer-list li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}
.footer-list li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}
.footer-list li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: .2;
}
.footer-list li:nth-child(1) span {
    background: #3b5999;
}
.footer-list li:nth-child(2) span {
    background: #0077b5;
}
#masthead #earth-holder #main-img {
    max-height: 700px;
    }
 

.container1{
    position: relative;
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
}

.container1 .row .card{
    position: relative;
    margin: 20px;
}
.container1 .row .card .face{
    width:300px;
    height:200px;
    transition:0.5s;
}
.container1 .row .card .face.face1{
    position:relative;
    display: flex;
    justify-content:center;
    align-items:center;
    z-index:1;
    transform: translateY(100px);
background: #acb6e5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container1 .row .card:hover .face.face1 {
    background:#639EE4;
    transform: translateY(0);
}
.container1 .row .card .face.face1 .content{
    opacity:02;
    transition:0.5s;
}
.container1 .row .card:hover .face.face1 .content{
    opacity:1;
}
.container1 .row .card .face.face1 .content img{
    max-width:130px;
}
.container1 .row .card .face.face1 .content h3{
    margin:10px 0 0;
    padding:0;
    color:#1d4d4f;
    text-align:center;
    font-size:1.5em;
}
.container1 .row .card .face.face2{
    position:relative;
    background:#fff;
    display: flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    box-sizing:boder-box;
    box-shadow:0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}
.container1 .row .card:hover .face.face2{
    transform: translateY(0);
}
.container1 .row .card .face.face2 .content p{
margin:0;
padding:0;
}
 
.mobile {
    border-radius: 40px;
    -webkit-box-shadow: 7px 7px 26px #7FB1B7;
    box-shadow: 7px 7px 26px #7FB1B7;
}
.web {
    text-shadow: 6px 6px 11px #6DB9B9;
    background-attachment: scroll;
}


@media (max-width:768px) and (min-width:378px){
    .footer-list li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.3s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;
}
.footer-list li:hover span {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, -1);
}
.footer-list li:hover span:nth-child(5) {
    transform: translate(30px, -30px);
    opacity: 1;
}
.footer-list li:hover span:nth-child(4) {
    transform: translate(20px, -20px);
    opacity: .8;
}
.footer-list li:hover span:nth-child(3) {
    transform: translate(10px, -10px);
    opacity: .6;
}
.footer-list li:hover span:nth-child(2) {
    transform: translate(5px, -5px);
    opacity: .4;
}
.footer-list li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: .2;
}
.footer-list li:nth-child(1) span {
    background: #3b5999;
}
.footer-list li:nth-child(2) span {
    background: #0077b5;
}
.gif1 {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
.gif {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}
    #mobile {
    border-radius: 40px;
    -webkit-box-shadow: 7px 7px 26px #7FB1B7;
    box-shadow: 7px 7px 26px #7FB1B7;
}
}

#visit-again {
    background: #ea9abb;
}
.time {
}
